## The objective of this notebook is to load a dataset of tweets between the several companies and their customers.  The data wrangling is only for the feature "text".  To preserve the original data "text", another column is create named "new_text" to which all the pre-processing operations are done. 

Attention:
1. Due to the massive file size of the data, this program was not able to complete the task due to limited CPU power of my laptop.  Take not the their is an attached sample file (sample.txt) that is significantly lesser in size which show case how this program processes an input file.
2. After investigation, the section that consumes a lot of time is in the spelling correction.  I tried to bypass this, and was able to finish the run.  Please see output.

In [1]:
import pandas as pd
import EDAHelper as hlpr

C:\Users\k45li\AppData\Local\Temp\ipykernel_23228\3153690647.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\k45li\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\k45li\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\k45li\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
start_time = hlpr.show_time()
print("Start of the run ...",start_time)

Start of the run ... 2024-02-08 12:13:16

In [3]:
df = pd.read_csv('kdata.csv')
#df = pd.read_csv('sample.csv')

In [4]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [5]:
df['new_text']=df['text']

In [6]:
print(df['new_text'].dtype)

object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 8 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
 7   new_text                 object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 152.8+ MB

# LOWER CASE

In [8]:
df['new_text']=df['new_text'].apply(hlpr.lower_cases)

In [9]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,@115712 i understand. i would like to assist y...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,@sprintcare and how do you propose we do that
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,@sprintcare i have sent several private messag...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,@115712 please send us a private message so th...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,@sprintcare i did.
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,"@823869 hey, we'd be happy to look into this f..."
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,@115714 wtf!? iâ€™ve been having really shitty s...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,@143549 @sprintcare you have to go to https://...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,"@823870 sounds delicious, sarah! ðŸ˜‹ https://t.c..."
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,@aldiuk warm sloe gin mince pies with ice cre...

# REMOVE HTML TAGS

In [10]:
df['new_text']=df['new_text'].apply(hlpr.remove_html_tags)

In [11]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,@115712 i understand. i would like to assist y...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,@sprintcare and how do you propose we do that
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,@sprintcare i have sent several private messag...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,@115712 please send us a private message so th...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,@sprintcare i did.
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,"@823869 hey, we'd be happy to look into this f..."
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,@115714 wtf!? iâ€™ve been having really shitty s...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,@143549 @sprintcare you have to go to https://...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,"@823870 sounds delicious, sarah! ðŸ˜‹ https://t.c..."
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,@aldiuk warm sloe gin mince pies with ice cre...

# REMOVE ANY URL

In [12]:
df['new_text']=df['new_text'].apply(hlpr.remove_url)

In [13]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,@115712 i understand. i would like to assist y...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,@sprintcare and how do you propose we do that
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,@sprintcare i have sent several private messag...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,@115712 please send us a private message so th...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,@sprintcare i did.
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,"@823869 hey, we'd be happy to look into this f..."
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,@115714 wtf!? iâ€™ve been having really shitty s...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,@143549 @sprintcare you have to go to and ask...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,"@823870 sounds delicious, sarah! ðŸ˜‹"
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,@aldiuk warm sloe gin mince pies with ice cre...

# REMOVE PUNCTUATION MARKS

In [14]:
df['new_text']=df['new_text'].apply(hlpr.remove_punc)

In [15]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,115712 i understand i would like to assist you...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,sprintcare and how do you propose we do that
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,sprintcare i have sent several private message...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,115712 please send us a private message so tha...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,sprintcare i did
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,823869 hey wed be happy to look into this for ...
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,115714 wtf iâ€™ve been having really shitty serv...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,143549 sprintcare you have to go to and ask t...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,823870 sounds delicious sarah ðŸ˜‹
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,aldiuk warm sloe gin mince pies with ice crea...

# REMOVE STOPWORDS

In [16]:
df['new_text']=df['new_text'].apply(hlpr.remove_stopwords)

In [17]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,115712 understand would like assist would need...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,sprintcare propose
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,sprintcare sent several private messages one r...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,115712 please send us private message assist c...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,sprintcare
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,823869 hey wed happy look please send us direc...
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,115714 wtf â€™ really shitty service day get shi...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,143549 sprintcare go ask add hulu service acco...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,823870 sounds delicious sarah ðŸ˜‹
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,aldiuk warm sloe gin mince pies ice cream best...

# REMOVE EMOJIS

In [18]:
df['new_text']=df['new_text'].apply(hlpr.remove_emojis_manually)

In [19]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,115712 understand would like assist would need...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,sprintcare propose
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,sprintcare sent several private messages one r...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,115712 please send us private message assist c...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,sprintcare
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,823869 hey wed happy look please send us direc...
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,115714 wtf â€™ really shitty service day get shi...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,143549 sprintcare go ask add hulu service acco...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,823870 sounds delicious sarah
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,aldiuk warm sloe gin mince pies ice cream best...

In [20]:
df.to_csv('kdata_clean.csv')

# REPLACE CHAT ABBREVIATION WITH WORDS / CHAT WORDS BASED ON https://www.kaggle.com/code/nmaguette/up-to-date-list-of-slangs-for-text-preprocessing/notebook

In [21]:
df['new_text']=df['new_text'].apply(hlpr.chat_conversion)

In [22]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,115712 understand would like assist would need...
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,sprintcare propose
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,sprintcare sent several private messages one r...
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,115712 please send us private message assist c...
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,sprintcare
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,823869 hey wed happy look please send us direc...
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,115714 what the fuck â€™ really shitty service d...
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,143549 sprintcare go ask add hulu service acco...
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,823870 sounds delicious sarah
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,aldiuk warm sloe gin mince pies ice cream best...

# SPELL CORRECTION

In [23]:
#df['new_text']=df['new_text'].apply(hlpr.spell_correction)

In [24]:
#df

# TOKENIZE AND STEM THE TOKENS (IF LEMMATIZATION IS DESIRED, SET OPTION_LEMMATIZE = True in the helper file

In [25]:
df['new_text']=df['new_text'].apply(hlpr.preprocess_text)

In [26]:
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,new_text
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0,"[115712, understand, would, like, assist, woul..."
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0,"[sprintcar, propos]"
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,"[sprintcar, sent, sever, privat, messag, one, ..."
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0,"[115712, pleas, send, us, privat, messag, assi..."
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,[sprintcar]
...,...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0,"[823869, hey, wed, happi, look, pleas, send, u..."
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,"[115714, what, the, fuck, â€™, realli, shitti, s..."
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0,"[143549, sprintcar, go, ask, add, hulu, servic..."
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0,"[823870, sound, delici, sarah]"
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,"[aldiuk, warm, sloe, gin, minc, pie, ice, crea..."

In [27]:
print("Start of the run ...",start_time)
print("End of the run   ...", hlpr.show_time())

Start of the run ... 2024-02-08 12:13:16
End of the run   ... 2024-02-08 12:37:23

In [28]:
df.to_csv('output.csv')